/* css styles */
/* @import "w3.css" */

.indent {
    margin-left: 40px;
}

img {
    border-radius: 10px 10px 10px 10px;
}

.container {
    padding: 2px 16px;
}

.mermaidContent {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.summary{
    padding: 16px 16px 16px 16px;
    background: #a2f868;
    border: #ffffff6b;
    color: #117441;
    border-radius: 10px 10px 10px 10px;
}


/* tab styling  method 1*/
.tab-content {
    padding: 10px;
    border: none
}

.tab-nav {
    display: flex;
}

.tab-link {
    display: flex;
    align-items: left;
    width: 60px;
    height: 10px;
    margin-right: -1px;
    padding-right: 5px;
    padding-left: 15px;
    font-size: 16px;
    text-decoration: none;
}

.tab-content:not(:target) {
    display: none;
}

.tab-content:target {
    display: block;
}

.labs {
    padding: 16px 16px 16px 16px;
        background: #102641;
        border: #ffffff6b;
        color: #9ea0b8;
        border-radius: 10px 10px 10px 10px;
      
}

/* tab styling  method 2*/

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs__label {
    padding: 10px 16px;
    font-size: 1.1em;
   
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked+.tabs__label {
    color:#1E90FF;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}
